.calculadora{
  display:block;
  margin:0 auto;
  padding:20px;
  background-color: #FFFF;
  width:300px;
  height:500px;
  border-radius: 10px;
}
.calculadora td button{
  display:block;
  width:70px;
  height: 70px;
  font-size: 25px;
}
.button{
  background-color: #D3D3D3;
}
.botaoapagar{
  background-color:#6495ED;
}
.botao{
  background-color:#A9A9A9;
}
.botaoigual{
  background-color:#C1FFC1;
}


#visor{
  display:block;
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  width:300px;
  height: 120px;
  line-height: 100px;
  background-color:#fff;
  border-radius: 25px;
  background-color:#F5F5F5;
}

